.backtop {
    position: fixed;
    bottom: 70px;
    right: 13px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;


    button {
        background-color: #007bff;
        color: #fff;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
        }
    }


}

.show {
    opacity: 1;
}